.navbar {
  background-color: #FAFAFA;
}


a.navbar-item {
  color: #0634A4;
}

a.navbar-item:hover, 
	a.navbar-item.is-active, 
	a.navbar-link:hover, 
	a.navbar-link.is-active {
    background-color: #FAFAFA;
    color: #0634A4;
	}