@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-weight: 400;
  color: rgba(0,0,0,0.7);
}

p {
  line-height: 1.8;
  text-rendering: optimizeLegibility;
}

img {
  max-width: 100%;
}

.wrapper-box {
  justify-items: center;
  align-items: center;
  grid-template-areas: 
  "iface";
  display: grid;
}

.btn {
  align-self: center;
  justify-self: center;
  text-decoration: none;
  display: inline-block;
  font-size: .8rem;
  overflow: hidden;
  background: none;
  padding: .95em 1.6em;
  background-color: #0003d1;
  transition: background-color .25s ease-in;
  color: #FAFAFA;
  transition-property: background-color,color;
  transition-duration: .25s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  border: 0;
  z-index: 1;
}

// .slideUp {
//   animation: slideUpAnim 3s forwards;
//   opacity: 0;
// }

// @keyframes slideUpAnim {
//   from {
//     opacity: 0;
//     transform: translateY(100px);
//   }
//   to {
//     opacity: 100;
//     transform: translateY(0);
//   }
// }

// .fade-enter-active {
//   animation: slidePageIn 1.5s forwards;
//   animation-timing-function: cubic-bezier(.8, -0.49, .36, 1);
// }

// .fade-leave-active {
//   animation: slidePageDown 1.5s forwards;
//   animation-timing-function: cubic-bezier(.8, -0.49, .36, 1);
// }

// @keyframes slidePageIn {
//   from {
//     opacity: 0;
//     transform: translateY(-100%);
//   }
//   to {
//     opacity: 1;
//     transform: translateY(0%);
//   }
// }

// @keyframes slidePageDown {
//   from {
//     opacity: 1;
//   }
//   to {
//     opacity: 0;
//     transform: translateY(0%);
//   }
// }


